<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
  style="width: 280px; height: 100%;"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <img src="assets/logo.jfif" alt="logo" width="50" class="m-2">
    <span class="fs-4">Alianza</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        Home
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        Clients
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        Clients look history
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        Emergency PIN configuration
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        Emergency PIN history
      </a>
    </li>
  </ul>
  <hr />
</div>
