<div style="display: flex; gap: 20px; margin: 20px">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create">New</button>
  <button type="button" class="btn btn-secondary">Export</button>
</div>
<br class="my-5">
<form (ngSubmit)="search(formSearch)" #formSearch="ngForm">
  <div class="col-7">
    <label for="sharedKey" class="visually-hidden">SharedKey</label>
    <input type="text" class="form-control" id="sharedKey" name="sharedKey" placeholder="Enter shared key" />
  </div>
  <div class="col-2">
    <button type="submit" class="btn btn-primary mt-3">
      Search
    </button>
  </div>
</form>

<div class="modal fade" id="create" tabindex="-1" aria-labelledby="createLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createLabel">Create new client</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(formu)" #formu="ngForm">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="client.name" required="true" />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="client.phone"
              required="true" />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="client.email"
              required="true" />
          </div>

          <div class="mb-3">
            <label for="startDate" class="form-label">Start date</label>
            <input type="date" class="form-control" id="startDate" name="startDate" [(ngModel)]="client.startDate"
              required="true" />
          </div>

          <div class="mb-3">
            <label for="endDate" class="form-label">End date</label>
            <input type="date" class="form-control" id="endDate" name="endDate" [(ngModel)]="client.endDate"
              required="true" />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="modify" tabindex="-1" aria-labelledby="modifyLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modifyLabel">Modify client</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitModify(formu)" #formu="ngForm">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameModify" name="name" [(ngModel)]="client.name" required="true" />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" class="form-control" id="phoneModify" name="phone" [(ngModel)]="client.phone"
              required="true" />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="emailModify" name="email" [(ngModel)]="client.email"
              required="true" />
          </div>

          <div class="mb-3">
            <label for="startDate" class="form-label">Start date</label>
            <input type="date" class="form-control" id="startDateModify" name="startDate" [(ngModel)]="client.startDate"
              required="true" />
          </div>

          <div class="mb-3">
            <label for="endDate" class="form-label">End date</label>
            <input type="date" class="form-control" id="endDateModify" name="endDate" [(ngModel)]="client.endDate"
              required="true" />
          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteClient()">Delete</button>
            <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Modify</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Shared Key</th>
      <th scope="col">Business ID</th>
      <th scope="col">E-mail</th>
      <th scope="col">Phone</th>
      <th scope="col">Date Added</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clientsList">
      <td scope="col">{{client.sharedKey}}</td>
      <td scope="col">{{client.name}}</td>
      <td scope="col">{{client.email}}</td>
      <td scope="col">{{client.phone}}</td>
      <td scope="col">{{client.dataAdded}}</td>
      <td scope="col"><button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modify" (click)="setClient(client)">Modify</button></td>
    </tr>
  </tbody>
</table>
